@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url(images/pottery.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.nav {
    position: absolute;
    padding: 50px;
    padding-left: 50%;

}

.nav ul {
    display: flex;
    /* justify-content: space-around; */
    /* padding-bottom: 20px; */
    /* background-color: grey; */
    /* opacity: 40%; */
    /* display: inline; */
    /* float: right; */
    display: inline;
    justify-content: flex-start;
    /* margin: 0;
     padding-top: -300px; */


}

.nav-item {
    display: flex;
    display: inline;
    text-align: center;
    padding: 30px;
    /* font-family: 'East Sea Dokdo', cursive; */
    font-family: 'EB Garamond', serif;
    font-style: italic;

}


.nav-item a {

    text-decoration: none;
    display: inline;
    padding: 25px;
    flex-direction: row;
    color: rgba(48, 27, 9, 0.5);
    text-shadow: 4px 4px wheat;
    font-size: 20px;
    padding: 15px;

    /* color: #cc8e35; */
}

a:hover {
    /* box-shadow: 0px 2px 2px #222f3e; */
    /* background-color: black; */
    text-decoration: none;
    color: black;
    text-decoration: wavy overline;
    /* text-decoration: overline; */
    /* background-color: rgba(52, 49, 49, 0.803);
     opacity: 10%; */

}

/* End of nav bar */

h1 {
    font-size: 10vh;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 10px;
    color: rgba(48, 27, 9, 0.5);
    text-shadow: 2px 2px wheat;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    text-decoration: underline;
    transition: all 4s ease-in-out;
}


.productgrid {
    padding: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    position: absolute;
    padding-top: 70px;
    transition: all 4s ease-in-out;
}

.price {
    text-align: center;
    font-weight: bold;
    padding: 10px;

}

.title {
    color: rgba(48, 27, 9, 0.5);
    text-shadow: 2px 2px wheat;
    font-family: 'EB Garamond', serif;
    padding-bottom: 20px;
    font-style: italic;
    text-decoration: overline;

}

article .card .productgrid {
    padding-top: 300px;

}

p {
    text-align: center;
    color: wheat;
    padding: 5px;
    /* position: absolute; */
    /* font-family: 'EB Garamond', serif; */
    /* font-family: 'East Sea Dokdo', cursive; */
    font-family: 'EB Garamond', serif;
    font-size: 12px;
    font-style: italic;

    /* margin: ; */

}


button {
    background-color: wheat;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    opacity: 50%;
}

button:hover {
    box-shadow: 0px 4px 4px rgba(48, 27, 9, 0.5);

    color: whitesmoke;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 20px;

    /* object-fit: cover;
    width: 100%;
    max-height: 50%;
    border-radius: 10px; */

    /*width: 60%;
    height: 60%;
    padding: 5px;*/

}


article.card {
    /* background-color: #20bf6b; */
    /* border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #4b4b4b; */
    text-align: center;
    /* border: 2px solid darkgreen; */
    height: 50%;
    width: 80%;

}


/* Start of footer */
footer {

    height: 100px;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    margin-top: 200px;


}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer_content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 10px;
    font-size: 19px;
    text-decoration: none;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    margin: 20px;
}

.footer-bottom {
    background: #000;
    margin-top: 1300px;
    margin-bottom: 0;

}

@media (max-width: 800px) {

    .nav {
        padding-left: 0;
        padding-top: 2.5rem;
    }

    .nav-item {
        flex-direction: column;
        padding: 2px;
        font-size: 15px;
    }

    .productgrid {
        /* width: 800px; */
        position: relative;
        grid-template-columns: repeat(auto-fill), minmax(50px, 1fr);
        grid-gap: 5px;
    }

    main {
        padding-top: 20px;
        padding-bottom: 100px;

    }

    main .productgrid {
        position: absolute;
        padding-left: 90%;
        width: 800px;
        justify-content: space-between;
        padding: 5px;
    }

    img {
        height: 100px;
        width: 100px;
        padding: 7px;
        flex-direction: row-reverse;

    }

    p {
        height: fit-content;
        font-size: 20px;
        width: fit-content;
    }

    footer {
        margin-top: 80px;
        margin-bottom: 0;
    }

    .footer-bottom {
        margin-top: 0;
    }
}